@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

*{

    font-family: 'Work Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding:50px 240px;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500; 
}

.navtitle
{
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color:#131313;
}
.banner{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    
    color:#131313;
}

.banner_head{
    font-size: 4rem;
    font-weight: 700;
    color:#131313 ;

}

.head_describtion{

    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.primary{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
}
.p img{
    margin-top: 30px;
    width: 100%;
}



main{
    max-width: 1440px;
    margin: 70px auto;
    
  
}
.container_img{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.container{
    display: flex;
    align-items:center;
}
.container_des{
    padding-left: 70px;
}
.dis_title_part1{
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

.dis_title_part2{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.dis_title_part3{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;

}



/*Responsive for mobile */
@media screen and (max-width:576px) {
    header{
        padding:20px;
    }
    nav,
    .container_img
    {
        flex-direction: column;
    }
}
@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding:50px;
    }
    nav{
        flex-direction: column;
    }
}
